<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 25%">Workout Name</th>
      <th style="width: 10%">Trainer Name</th>
      <th style="width: 11%">Date</th>
      <th style="width: 11%">Schedule Time</th>
      <th style="width: 5%">Timer</th>
      <th style="width: 5%">Status</th>
      <th style="width: 9%">Start</th>
      <th style="width: 9%">End</th>
      <th style="width: 5%">Focus</th>
      <th style="width: 10%">Goal</th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do | workout | %>
      <%= render(:partial => "workout", :locals => {:workout => workout}) %>
    <% end %>
  </tboby>
</table>