<h1>Mom#dashboard</h1>

<div id="lst_workouts">
  <%= link_to "Today (#{Date.today})", mom_home_path(:filter => 'today') %> | <%= link_to "All", mom_home_path(:filter => 'all') %>
  <%= render(:partial => "workouts") %>
</div>